<html>

<title>
Enrol
</title>

<body>
<h1>Linux Container</h1>
<h3>Linux Box <%= dev %> has been created and started.</h3>
<h3>Your credentials are: </h3>
Host: <%= ip %><br>
Port: <%= port %><br>
User: ubuntu<br>
Pass: ubuntu11<br>
</body>

</html>
